.grided {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  
  @media (min-width: 640px) { 
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 1024px) { 
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) { 
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1536px) {
    grid-template-columns: repeat(5, 1fr);
  }

  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem; 
  padding-bottom: 1rem;
}
